/* .contianer {
    font-family: sans-serif;
}

h2 {
    color: blue;
}

.header {
    text-transform: uppercase;
    color: blue;
}

.img {
    background-image: url('https://shorturl.asia/JqUD9');
}
*/



@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@200&display=swap');
@import url(//fonts.googleapis.com/css?family=Lato:300:400);

body {
    margin: 0;
    background-image: linear-gradient(112.5deg, rgb(214, 214, 214) 0%, rgb(214, 214, 214) 10%, rgb(195, 195, 195) 10%, rgb(195, 195, 195) 53%, rgb(176, 176, 176) 53%, rgb(176, 176, 176) 55%, rgb(157, 157, 157) 55%, rgb(157, 157, 157) 60%, rgb(137, 137, 137) 60%, rgb(137, 137, 137) 88%, rgb(118, 118, 118) 88%, rgb(118, 118, 118) 91%, rgb(99, 99, 99) 91%, rgb(99, 99, 99) 100%), linear-gradient(157.5deg, rgb(214, 214, 214) 0%, rgb(214, 214, 214) 10%, rgb(195, 195, 195) 10%, rgb(195, 195, 195) 53%, rgb(176, 176, 176) 53%, rgb(176, 176, 176) 55%, rgb(157, 157, 157) 55%, rgb(157, 157, 157) 60%, rgb(137, 137, 137) 60%, rgb(137, 137, 137) 88%, rgb(118, 118, 118) 88%, rgb(118, 118, 118) 91%, rgb(99, 99, 99) 91%, rgb(99, 99, 99) 100%), linear-gradient(135deg, rgb(214, 214, 214) 0%, rgb(214, 214, 214) 10%, rgb(195, 195, 195) 10%, rgb(195, 195, 195) 53%, rgb(176, 176, 176) 53%, rgb(176, 176, 176) 55%, rgb(157, 157, 157) 55%, rgb(157, 157, 157) 60%, rgb(137, 137, 137) 60%, rgb(137, 137, 137) 88%, rgb(118, 118, 118) 88%, rgb(118, 118, 118) 91%, rgb(99, 99, 99) 91%, rgb(99, 99, 99) 100%), linear-gradient(90deg, rgb(195, 195, 195), rgb(228, 228, 228));
    background-blend-mode: overlay, overlay, overlay, normal;
}

.h22 {
    font-family: 'Prompt', sans-serif;
    color: rgb(71, 71, 237);
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 28px;
}

p {
    font-family: 'Prompt', sans-serif;
    letter-spacing: 1px;
    font-size: 20px;
    color: #000000;
    font-weight: 300;
}

.header {
    position: relative;
    text-align: center;
    background: linear-gradient(60deg, rgba(84, 58, 183, 1) 0%, rgba(0, 172, 193, 1) 100%);
    color: white;
    text-transform: uppercase;
}

ol li {
    font-family: 'Prompt', sans-serif;
    letter-spacing: 1px;
    font-size: 20px;
    color: #000000;
    font-weight: 300;
}

#img {
    background: url('../asset/SWEBanner.jpg');
    height: 260px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}